.infoContainer {
    margin-top: 80px;
    /* Account for the fixed header */
    padding: 20px;
    margin-left: 80px;
    background-color: #fff;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    min-height: calc(100vh - 10px);
    /* Ensure it covers the available height */
    overflow-y: auto;
    /* Enable scrolling within the user list */
}

.infoContent {
    flex: 1;
    /* Take up remaining space */
}

.infoRow {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

}


.infoRow-border {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}


.sessionRow {
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.sessionInfo {
    color: #888;
    font-size: 12px;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    /* Align button to the right */
    padding: 20px;
    /* Add padding around the button */
}

.resetButton {
    background-color: #5e065e;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border: none;
    /* Remove border if any */
    border-radius: 5px;
    /* Add border radius for better look */
    width: auto;
}

.icon {
    color: #673ab7;
}

.switch {
    font-size: 24px;
}

.firstText {
    font-weight: 600;
}

.firstTextNav{
    color: #5e065e;
    cursor: pointer;
}

.firstTextNav:hover{
    color:pink ;
}

@media (max-width: 768px) {


    .infoContainer {
        padding: 20px 30px;
        height: 100vh;
        overflow-y: auto;
        margin-left: 0;
    }

}

@media (max-width: 445px) {
    .infoContainer {
        padding: 15px 20px;
        height: 100vh;
        overflow-y: auto;
        margin-left: 0;
    }


}

@media (max-width: 385px) {
    .infoContainer {
        padding: 10px 15px;
        height: 100vh;
        margin-left: 0;
    }

}