/* src/components/Header.css */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#4B164C; /* Purple background color */
  padding: 10px;

}

.search-bar {
  flex: 1;
  max-width: 20px; /* Adjust the width as needed */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 50px;
  outline: none;
  transition: all 0.3s ease;
}

.search-bar:focus {
  border-color: #888;
}

.title {
  margin: 0;
  font-size: 35px;
  color: #fff;
  flex: 2; /* Adjust flex as needed to balance the space */
  text-align: center;
}
