.right-sidebar-content {
  color: #4B164C;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(240, 235, 235);
  padding: 10px;
  border-radius: 40px 0px 0px 40px;
}

.profile-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 50px;
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-info {
  text-align: center;
padding: 10px;
}

.profile-info h3 {
  margin: 0;
}

.profile-info p {
  margin: 5px 0;
  font-size: 8px;
}

.menu {
  list-style: none;
  padding-left: 50px;
  width: 100%;

}

.menu li {
  padding: 10px;
  text-align: left;
  /* Aligns text to the left */
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 700;

}

.menu li:hover {
  background-color: #8a3d77;
}

.logout {
  display: flex;
  justify-content: center;
  /* Aligns the button to the center horizontally */
  margin-top: 10px;
  /* Adds some space at the top */

}

.logout button {
  background-color: #4a1e40;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;
  font-size: 14px;
}

.logouticon {
  font-size: 14px;
}

.logout button:hover {
  background-color: #6e3160;
}

/* Media Queries for Responsive Design */
@media (max-width: 430px) {
  .right-sidebar-content {
    color: #ffffff;
    background-color: rgba(75, 22, 76, 0.8);
    padding: 5px;
    border-radius: 40px 0px 0px 40px;
    font-size: smaller;
    padding-top: 50px;
 
  }

  .profile-picture {
    width: 60px;
    height: 60px;
  }
  .profile-info h6{
    font-size: 16px;
  }
  .profile-info p {
    font-size: 12px;
  }

  .menu li {
    padding: 8px;
    font-size: 14px;
    font-size: larger;
  }

  .logout button {
    padding: 8px 16px;
  }
}

@media (max-width: 345px) {
  .right-sidebar-content {
    color: #ffffff;
    background-color: rgba(75, 22, 76, 0.8);
    padding: 5px;
    border-radius: 40px 0px 0px 40px;
    font-size: smaller;
  }

  .profile-picture {
    width: 50px;
    height: 50px;
  }

  .profile-info p {
    font-size: 9px;
  }
  .profile-info h6{
    font-size: 12px;
  }
  .menu li {
    padding: 6px;
    font-size: 12px;
  }

  .logout button {
    padding: 6px 12px;
  }
}