.btn4 {
  height: 40px;
  margin-top: 30px;
  background-color: rgb(91, 24, 103);
  color: rgb(255, 252, 252);
  font-family: none;
}
.header4 {
  display: flex;
  align-items: st;
  justify-content: space-between;
  padding-left: 400px;
  padding-right: 30px;
  /* background-color: rgb(23, 23, 23); */
  padding-bottom: 30px;
  /* background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(213, 206, 216, 0),
    rgba(224, 194, 254, 0.759),
    rgb(112, 45, 157)
  ); */
}

.context4 {
  /* width: 1200px; */
  /* background-color: antiquewhite; */
  margin-left: 250px;
  margin-top: 20px;
  /* margin-top: 50px; */
  /* position: absolute; */
  background-color: rgb(255, 255, 255);
  padding-left: 50px;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 200px;
  box-shadow: 5px 5px 20px rgb(175, 174, 174);
  border-radius: 30px;
}
.side4 .probt {
  background-color: white;
  color: rgb(4, 4, 4);
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
  font-family: none;
}

.side4 .probt:hover {
  background-color: rgb(47, 45, 45);
  color: white;
}

.side4 {
  width: 250px;
  height: 100%;
  background-color: rgb(215, 179, 227);
  /* border: 1px solid black; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: fixed;
  gap: 10px;
  padding-top: 100px;
  /* border-top-right-radius: 10px; */
  border-bottom-right-radius: 10px;
}

/* about,
habbits,
personaldet,
jobss,
contact,
bodytype,
family,
pro-det */
.about {
  /* width: 300px; */
  /* background-color: antiquewhite; */
}

.context4 h3 {
  width: 330px;
  background-color: rgb(255, 255, 255);
  color: rgb(54, 54, 54);
  border-radius: 30px;
  border: 1px solid black;
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
  font-family: none;
}
.context4 h2 {
  color: rgb(111, 115, 120);
  background-color: white;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-left: 30px;
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
  font-family: none;
  /* text-align: center; */
}

.image6 h1 {
  color: black;
}

.image6 {
  margin-left: 200px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 500px;
  /* height: 700px; */
  /* background-color: antiquewhite; */
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  padding-top: 20px;
  /* padding-bottom: 20px; */
  background-color: rgba(0, 255, 255, 0);
  /* position: relative; */
  /* background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(213, 206, 216, 0),
    rgba(254, 194, 234, 0.759),
    rgb(181, 79, 139)
  ); */
}
.img4 {
  /* position: relative; */
  width: 500px;
  /* margin-top: 30px; */
  /* margin-left: 100px; */
  /* border-radius: 10px; */
  /* border: 3px solid white; */
  /* box-shadow: 5px 5px 14px rgb(202, 199, 202); */
  box-shadow: 7px 6px 14px rgb(152, 150, 150);
}
.arrow {
  background-color: rgba(197, 196, 196, 0.359);
  width: 30px;
  position: absolute;
  margin-top: 10px;
  margin-left: 420px;
  padding: 10px;
  border-radius: 50%;
}

.msg12 {
  margin-bottom: 10px;
  width: 90px;
}

.components {
  /* margin-top: 50%; */
  margin-left: 140px;
  margin-top: 610px;
  background-color: rgb(255, 255, 255);
  display: flex;
  box-shadow: 1px 1px 25px rgb(252, 219, 252);
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: fixed;
  width: 580px;
  /* height: 30px; */
  border-radius: 50px;
  height: 100px;
  overflow: hidden;
  padding-top: 10px;
  padding-right: 15px;
}
.img122 {
  border-radius: 20px;
  /* height: 100px; */
}
.image6 h3 {
  background-color: rgba(255, 255, 255, 0);
  /* width: 200px; */
  display: flex;
  justify-content: center;
  margin-top: -10px;
  color: rgb(253, 253, 253);
  font-family: none;
}

.botImg {
  margin-top: -261px;
  /* margin-bottom: 70px; */
  width: 500px;
  padding-top: 100px;
  padding-bottom: 20px;
  /* background-color: rgba(250, 235, 215, 0.466); */
  /* padding-top: 100px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(172, 33, 188, 0.193),
    rgba(171, 74, 198, 0.492)
  );
}
.name12 {
  margin-top: -10px;
  display: flex;
}
.name12 h2 {
  background-color: rgba(255, 255, 255, 0);
  font-family: none;
  color: white;
}
.Mypro {
  font-family: none;
  color: white;
}
.propic1 {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 40px;
}
