.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #4B164C;
  position: relative;
  width: 100%;
}

.leftsidebar {
  flex: 0 0 130px; /* Fixed width for left sidebar */
}

.main {
  padding: 20px;
  width: 100%;
  height: 100%;
  transition: filter 0.3s;
}

.main.blur {
  filter: blur(5px);
}

.right-sidebar {
  flex: 0 0 250px; /* Fixed width for right sidebar */
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  background-color: #5b2653;
}

.right-sidebar.open {
  transform: translateX(0);
}

/* Filter content styles */
.filter-content {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  color: #000;
  padding: 20px;
  overflow-y:hidden;
  height: 100vh;
}

.filter-section {
  margin-top: 20px;
}

.filter-section h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
}

.filter-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-section li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #E0E0E0;
  font-size: 16px;
}

.filter-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 30px;
}

.cancel-button,
.apply-button {
  background-color: #4B164C;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

.cancel-button {
  background-color: #FF4C4C;
}



/* Media queries for responsiveness */
@media (max-width: 768px) {
  .container {
      flex-direction: column;
  }

  .leftsidebar {
      order: 2;
      width: 100%;
  }

  .right-sidebar {
      order: 1;
      width: 100%;
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      transform: translateX(100%);
      background-color: transparent;
  }

  .main {
      order: 0;
      width: 100%;
      flex: none;
      padding: 20px;
  }

  .right-sidebar.open {
      transform: translateX(0);
  }

  .main.blur {
      filter: blur(5px);
  }
}
/* */
@media (max-width: 415px) {
  .right-sidebar {
      width: 100%;
  }

  .filter-content {
      padding: 10px;
  }

  .main {
      padding: 10px;
  }

  .sidebar-toggle-button {
      top: 15px;
      right: 15px;
      padding: 8px;
  }

  .filter-section {
      margin-top: 40px;
      padding-bottom: 25px;
  }
}

@media (max-width: 375px) {
  .right-sidebar {
      width: 100%;
  }

  .filter-content {
      padding: 10px;
  }

  .main {
      padding: 10px;
  }


}
