/* PartnerPreference.css */

.prefer-container {
  color: #fff;
  background-color: #4B164C;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #4B164C;
  position: relative;
  width: 100%;
  padding: 0;
}

.customFooter {
  position: absolute;
  bottom: 41px;
}

.preference-container {
  color: #fff;
  flex-direction: column;
  margin-right: 60px;
  width: 100%; /* Ensure full width */
}

.preference-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #4B164C;
  width: 100%; /* Ensure full width */
  margin-left:420px;
}

.preference-header h2 {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

.profilePicContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}



.preference-section {
  flex: 1;
  padding: 20px 50px;
  background-color: #fff;
  height: auto;
  color: #050505;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow-y: hidden;
  margin: 0; /* Remove any margin */
}

.preference-section h2 {
  margin: 20px 0;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 500;
  color: #4a4a4a;
  margin-bottom: 5px;
}

.form-group select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tags span {
  background-color: #353434;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 14px;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.tags button {
  background: none;
  border: none;
  margin-left: 5px;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
}

.range-slider-container {
  margin-top: 10px;
}

.range-slider {
  position: relative;
  height: 36px;
  display: flex;
  width: 100%;
  align-items: center;
}

.range-values {
  display: flex;
  justify-content: space-between;
}

.range-values span {
  margin-right: 10px;
}

.range-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

/* Media Queries */

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .preference-header {
    padding: 15px;
    margin: 0;
  }

  .preference-section {
    padding: 20px 30px;
    height: auto;
    overflow-y: auto;
  }

  .profilePicContainer {
    margin-left: auto;
  }
}

@media (max-width: 445px) {
  .preference-section {
    padding: 15px 20px;
    height: auto;
    overflow-y: auto;
  }

  .preference-header {
    margin: 0;
    padding: 15px 10px;
  }
  .preference-container{
    margin-left: 20px  ;
    padding-right: 60px;
  }
 
}

@media (max-width: 385px) {
  .preference-section {
    padding: 10px 15px;
    height: auto;
  }

  .preference-header {
    padding: 10px 5px;
  }

  .profilePic {
    height: 30px;
    width: 30px;
  }
  .preference-container{
    margin-left: 20px  ;
    padding-right: 40px;
  }
}
