.anoop100 .blur2 {
  width: 100%;
  height: 100%;
  padding: 30px;
  /* background-color: antiquewhite; */
  backdrop-filter: blur(20px);

  margin: auto;
  /* position: relative; */
  /* filter: blur(20px); */
  position: fixed;
  bottom: 0px;
}
.anoop100 .jk {
  /* background-color: rgb(255, 255, 255); */
  width: fit-content;
  margin: auto;
}
.anoop100 .jk i {
  position: absolute;
  background-color: rgba(240, 248, 255, 0.551);
  padding: 9px 11px 9px 11px;
  border-radius: 50%;
  margin: 5px;
}
.anoop100 .blur3 {
  /* width: 600px; */
  margin: auto;
  height: 650px;
  border-radius: 10px;
  /* filter: blur(0px);s */
  /* backdrop-filter: blur(20px); */
}

.anoop100 .nav26 {
  height: 80px;
  /* background-color: antiquewhite; */
  display: flex;
  align-items: end;
  justify-content: space-around;
  /* padding: 20px; */
  /* padding-top: 40px; */
  padding-left: 50%;
}

.anoop100 .nav26 button {
  margin-left: 70%;
  background-color: rgb(157, 118, 201);
  font-size: 15px;
  border: 0;
  font-family: Aldrich;
  padding: 10px;
  border-radius: 7px;
  color: aliceblue;
}

.anoop100 .image27 {
  width: 77%;
  background-color: rgb(235, 222, 250);
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 20%;
  padding: 20px;
  padding-top: 40px;
  justify-content: center;
  gap: 30px;
  border-radius: 20px;
  margin-top: 30px;
}

.anoop100 .image27 .pics7 {
  /* width: 300px; */
  height: 500px;
  background-color: rgb(173, 140, 213);
  border-radius: 7px;
}

.anoop100 .image27 .pics7 .image25 {
  /* width: 200px; */
  height: 500px;
  box-shadow: 5px 5px 8px rgb(110, 96, 121);
  border-radius: 7px;
}

.anoop100 .image27 .pics7 .image25:hover {
  /* padding: 30px; */

  /* zoom: 90%; */
  height: 525px;
  /* filter: url("https://anthonyhobday.com/sideprojects/visualtechniques/techniques/blur/blur-as-button-background.png"); */
  filter: blur(2px);
  /* backdrop-filter: url("https://res.cloudinary.com/dwtoizfsv/image/upload/v1726748292/nz1wv2nvchutcslew9r9.jpg"); */
}
.anoop100 .side1-6 {
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 12px rgb(187, 186, 186);
  width: 240px;
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  box-sizing: border-box;
  padding-left: 3%;
  padding-top: 10%;
  gap: 40px;
  /* filter: blur(10px); */
}

.anoop100 .side1-6 h1 {
  position: absolute;
  margin-top: -55%;
  font-family: Aldrich;
  margin-left: -15%;
  font-size: 40px;
  color: rgb(165, 117, 255);
}

.anoop100 .side1-6 h3 {
  font-family: Aldrich;
  font-size: 16px;
}
.anoop100 .side1-6 .fa-solid,
.fa-brands {
  font-size: 130%;
  width: 30px;
}
.anoop100 .pro1-6 {
  margin-top: 110%;
}

@media screen and (max-width: 1000px) {
  .anoop100 .image27 {
    margin: auto;
    margin-top: 40px;
  }
  .anoop100 .side1-6 {
    display: none;
  }

  .anoop100 .nav26 {
    background-color: rgb(255, 255, 255);
    padding-right: 40px;
  }
  .anoop100 .nav26 button {
    /* width: 100%; */
  }

  .anoop100 .nav25 {
    /* padding: 0; */
    /* padding: 10px 50px 20px 0px; */
    padding: 10px;
    margin-left: 70%;
    /* background-color: antiquewhite; */
  }
}
