/* src/components/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #66125f; /* Purple background color */
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.nav-item {
  font-size: 24px;
  cursor: pointer;
  position: relative;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.nav-item:hover {
  background-color: #444;
}



.navbar-item {
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #555;
}
