.arrow {
  width: 5%;
  /* background-color: aquamarine; */
  position: absolute;
  margin-top: 1%;
  margin-left: 29%;
}
.scroll {
  position: absolute;
  /* background-color: aqua; */
  width: 10px;
  margin-top: 13%;
  margin-left: 32%;
}
.p3 {
  background-color: rgb(129, 129, 129);
  position: absolute;
  margin-top: -60px;
  margin-left: 35%;
  height: 10px;
  width: 100px;
  border-radius: 10px;
}
.mypro {
  display: flex;
  flex-direction: column;
}
.image6 {
  width: 35%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin-left: 30%;
  /* background-color: antiquewhite; */
}
.img4 {
  box-shadow: 3px 3px 10px rgb(165, 162, 162);
}
.botImg img {
  width: 130px;
}
.botImg {
  /* background-color: rgba(23, 208, 208, 0.33); */
  margin-top: -258px;
  text-align: center;
  padding: 30px;
  padding-bottom: 50px;
  background-image: linear-gradient(
    to top,
    rgba(105, 0, 158, 0.667),
    rgba(105, 0, 158, 0.385),
    rgba(105, 0, 158, 0.229),
    rgba(255, 255, 255, 0)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

.name12 {
  display: flex;
  /* margin-left: 35%; */
  margin-bottom: -10px;
}
.name12 h2 {
  color: white;
  font-family: Aldrich;
}
.botImg h3 {
  color: white;
  font-family: Aldrich;
  font-weight: 100;
}

.context4 {
  width: 80%;
  margin: auto;
  background-color: rgb(255, 255, 255);
  padding: 5%;
  margin-top: -4%;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 10%;
  box-shadow: 2px 3px 10px rgb(198, 197, 197);
}

.components {
  margin: auto;
  margin-left: 32%;
  position: fixed;
  margin-top: 40%;
  background-color: white;
  width: 500px;
  height: 100px;
  overflow: hidden;
  padding-bottom: 15px;
  padding-top: -10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  box-shadow: 3px 3px 25px rgba(232, 150, 255, 0.416);
}
.context4 div {
  border: 1px solid beige;
  border-radius: 7px;
  width: 320px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0px;
  box-shadow: 2px 2px 7px rgb(210, 208, 208);
}
.context4 h2 {
  color: rgb(176, 174, 174);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.context4 h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.msg12 {
  width: 90px;
  margin-bottom: 35px;
}

.header4 .fa-solid {
  background-color: rgba(168, 164, 164, 0.332);
  padding: 15px;
  position: absolute;
  margin: 30px;
  font-size: 20px;
  border-radius: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 500px) {
  .header4 {
  }
  .p3 {
    height: 7px;
    width: 70px;
    font-size: 50px;
    position: absolute;
    margin-top: -7px;
    background-color: rgb(161, 161, 161);
    margin-left: 40%;
    border-radius: 10px;
  }
  .scroll {
    position: absolute;
    width: 6.5px;
    margin-left: 92%;
    margin-top: 38%;
  }
  .arrow {
    margin-top: 20px;
    margin-left: 265px;
  }
  .header4 .fa-solid {
    margin: 10px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
  }
  .image6 {
    width: 112%;
    padding-left: 0;
    margin-left: -10px;
    padding: 0;
    background-color: rgb(229, 173, 173);
    box-shadow: 0px 0px 0px;
    margin-top: -10px;
  }
  .arrow {
    width: 20%;
  }
  .mypro {
    width: 95%;
  }
  .components {
    width: 80%;
    margin-top: 170%;
    margin-left: 4%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 0;
    padding: 5px;
    padding-bottom: 0;
    /* box-shadow: 0px 0px 0px;  */
  }
  .img122 {
    width: 26%;
  }
  .msg12 {
    width: 20%;
    margin-top: 30px;
  }
  .context4 {
    width: 106%;
    padding: 10px;
    margin: 0;
    margin-left: -10px;

    margin-top: -25px;
    /* background-color: antiquewhite; */
    gap: 10px;
    box-shadow: 0px 0px 0px black;
  }
  .context4 div {
    box-shadow: 0px 0px 0px;
    border: 0;
  }
  .context4 .ab {
    border: none;
  }
  .context4 h3 {
    border: 1px solid rgb(157, 156, 156);
    padding: 5px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    border-radius: 20px;
    color: rgb(91, 90, 90);
  }
  .img4 {
    box-shadow: 0px 0px 0px;
  }
}
