/* Container and layout */
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #4B164C;
  position: relative;
  width: 100%;
}

.leftsidebar {
  flex: 0 0 130px; /* Fixed width for left sidebar */
}

.main {
  padding: 20px;
  width: 100%;
  height: 100%;
  transition: filter 0.3s;
}

.main.blur {
  filter: blur(5px);
}


/* Messages Header */
.messages-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #4B164C;
}

.back-arrow {
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}



/* Messages List */
.messages-list {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  color: #333;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 100vh;
}

.message-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.message-item:last-child {
  border-bottom: none;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.message-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
}

.message-content .info {
  flex: 1;
}

.message-content h5 {
  margin: 0;
}

.details {
  display: flex;
  flex-direction: column;
}

.message-time {
  color: #999;
}

.last-message {
  color: #666;
  font-size: 14px;
  flex: 1;
}

.message-content p {
  margin: 0;
  font-size: 14px;
}



/* Media Queries for responsiveness */

/* For devices with a width of 768px and above */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .leftsidebar {
    order: 2; /* Position the footer at the bottom */
    width: 100%;
  }
 
  

  .main {
    order: 0;
    width: 100%;
    flex: none;
    padding: 20px;
  }


  .main.blur {
    filter: blur(5px);
  }
}

/* For devices with a width of 415px and below */
@media (max-width: 415px) {
  .right-sidebar {
    width: 100%;
  }

  .messages-list {
    height: calc(100vh - 50px); /* Adjust height to fit within viewport minus some padding */
  }

  .main {
    padding: 10px;
  }



  .message-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .message-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .details {
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
  }

  .message-content h5 {
    font-size: 16px;
  }

  .details p {
    font-size: 12px;
  }

  .last-message {
    flex: 1;
    color: #666;
    font-size: 12px;
  }
}
