.intrest12 {
  background-image: url("src/assets/Authentication/Backround1.jpeg");
  height: 700px;
}
.look {
  width: 400px;
  /* background-color: antiquewhite; */
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  box-shadow: 3px 3px 7px grey;
  background-color: white;
}
.look12 {
  background-image: url("src/assets/Authentication/Backround1.jpeg");
  height: 700px;
}

.look input {
  width: 50px;
  height: 16px;
}
.look span {
  display: flex;
  align-items: center;
}

.check12 {
  /* background-color: aqua; */
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.look button {
  margin-top: 20px;
  width: 260px;
  background-color: rgb(40, 39, 39);
  color: aliceblue;
  height: 30px;
  border-radius: 5px;
}

.intrest2 {
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
  align-items: center;
  box-shadow: 3px 3px 7px gray;
  margin-top: 100px;
  background-color: white;
}
.intrest2 button {
  margin-top: 20px;
  width: 260px;
  background-color: rgb(40, 39, 39);
  color: aliceblue;
  height: 30px;
  border-radius: 5px;
}

@media screen and (max-width: 500px) {
  .look12 {
    width: 370px;
    background-image: url("src/assets/Authentication/Backround2.jpeg");
    height: 700px;
    background-size: cover;
    background-position: 10px -100px;
  }
  .look {
    width: 280px;
    box-shadow: 1px 1px 6px rgb(183, 182, 182);
  }
  .intrest12 {
    width: 370px;
    background-image: url("src/assets/Authentication/Backround2.jpeg");
    height: 700px;
    background-size: cover;
    background-position: 10px -100px;
  }
  .intrest2 {
    width: 260px;
    box-shadow: 1px 1px 6px rgb(187, 187, 187);
  }
}
