
.customFooter{
    position: absolute;
    bottom: 41px;
}
.accept-icon{
    color: green;
    font-weight: 800;
    font-size:28px;

}
.accept-icon :hover{
    color: rgb(120, 134, 120);
}


.remove-icon{
    color:red;
    font-weight: 800;
    font-size:28px;
}
.remove-icon:hover{
    color:rgb(239, 181, 181); 
}