
.customFooter{
    position: absolute;
    bottom: 41px;
}
.accept-icon{
    color: green;
    font-weight: 800;
    font-size: 14px;

}
.remove-icon{
    color:red;
    font-weight: 800;
    font-size: 14px;
}
.preference-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4B164C;
    color: white;
    padding: 15px 20px 120px 120px;
  
    margin-left: 80px;
    width: 100%;
    position: fixed; /* Ensure it stays at the top */
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it stays above other content */
  }
  