  .BuddyPairHomeHeader{
    position: relative;
  }
  .profileCardContainer2{
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1px;
  }

  .BuddyHomeFooter{
    position: absolute;
    bottom: 30px;
    position: sticky;
  }

  .profileCardContainer2.blur-background{
    filter: blur(5px); /* Apply blur effect when notifications are visible */
    transition: filter 0.3s ease;
  }

  .BuddyHomeFooter.blur-background{
    filter: blur(5px); /* Apply blur effect when notifications are visible */
    transition: filter 0.3s ease;
  
  }
  