.nav333 {
  margin-top: -20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 0px 20px;
}

.nav333 .fa-solid {
  box-shadow: 0px 0px 0px;
  background-color: white;
  margin-top: -20px;
}

.pay10 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  border: 1px solid black;
  padding-left: 20px;
  border-radius: 20px;
  border: 2px solid rgb(202, 200, 200);
}
.pay10-1 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  border: 1px solid black;
  padding-left: 20px;
  border-radius: 20px;
  border: 2px solid rgb(202, 200, 200);
}
.pay10-1 .pay11 {
  margin-left: 20px;
}
.pay10 img {
  width: 80px;
}
.pay11 {
  /* margin-top: 60px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pay10-2 .fa-solid {
  position: absolute;
  margin-left: 250px;
  box-shadow: 0px 0px 0px;
  padding: 0;
  background-color: rgb(0, 34, 68);
  color: white;
  padding: 3px;
}
.pay11 p {
  width: 100px;
  font-size: 10px;
  margin-left: 10px;
  background-color: white;
  margin-top: -16px;
}
.pay11 h3 {
  /* margin-top: -10px; */
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.pay10-2 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  border: 1px solid black;
  padding-left: 20px;
  border-radius: 20px;
  border: 2px solid rgb(202, 200, 200);
  margin-top: -20px;
}
.pay10-2 .pay11 {
  margin-left: 10px;
}
.im {
  background-color: orange;
  padding: 0 10px 0px 10px;
  width: 35px;
}

.pay19 {
  width: 25%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  padding: 30px;
  /* padding-left: 20px; */
  align-items: center;
  /* text-align: start; */
  /* background-color: antiquewhite; */
  box-shadow: 2px 2px 7px rgb(178, 177, 177);
}
.pay19 button {
  width: 100%;
  border: 0;
  background-color: rgb(102, 41, 78);
  color: white;
  height: 50px;
  margin-top: 20px;
  border-radius: 10px;
}
.pay19 h1 {
  font-size: 35px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(110, 50, 80);
  margin-top: -10px;
}
.p1-1 {
  background-color: white;
  font-size: 12px;
}

.pay19 .meth {
  margin-right: 120px;
  width: 200px;
  font-size: 12px;
  /* position: absolute; */
  /* background-color: antiquewhite; */
}

@media screen and (max-width: 500px) {
  .pay19 h3 {
    font-size: 18px;
  }
  .pay19 {
    width: 100%;
    margin: auto;
    box-shadow: 0px 0px 0px;
  }
  .pay19 h1 {
    width: 300px;
  }
  .pay11 {
    margin-left: 7%;
  }
  .pay10-1 .pay11 {
    margin-left: 15%;
  }
  .pay10-2 .pay11 {
    margin-left: 15%;
  }
  .pay10-2 .fa-solid {
    position: absolute;
    margin-left: 70%;
    border-radius: 5px;
  }
}
