.buddyHomeProfile {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  max-width: 300px;
  height: 95%;
  background-color: #4B164C;
  color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto; /* Allow scrolling if content overflows */
}

.buddyHomeProfileHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HeadingprofilePicContainer {
  position: relative;
}

.onlineDot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(132, 227, 132);
  position: absolute;
  top: 0;
  right: 2px;
}

.buddyHomeProfileInfo {
  flex-grow: 1;
  margin-left: 10px;
}

.buddyHomeProfileInfo h2 {
  margin: 0;
  font-size: 1.2em;
  word-wrap: break-word; /* Ensure long names wrap */
}

.buddyHomeProfileInfo span {
  display: block;
}

.onlineStatus {
  color: limegreen;
}

.closeButton {
  font-size: 1.5em;
  cursor: pointer;
}

.buddyHomeProfileOptions {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.buddyHomeProfileOptions button {
  background: none;
  border: none;
  color: white;
  text-align: left;
  padding: 10px 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.buddyHomeProfileOptions button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.logoutButton {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 10px;
}

@media(max-width:1025px){
  .buddyHomeProfile {
      height: 90%;
  }
}

@media(max-width:768px){
  .buddyHomeProfile {
      height: 70%;
  }
}

@media(max-width:540px){
  .buddyHomeProfile {
      height: 85%;
      padding: 15px; /* Adjust padding */
  }
}

@media(max-width:400px){
  .buddyHomeProfile {
      height: 90%;
  }
}
